<div class="filter-container">
  <button class="filter-btn" (click)="toggleFilterMenu()">Filter</button>
  <div class="filter-menu" [ngClass]="{'show': filterMenuVisible}">

    <select [(ngModel)]="selectedCategory">
      <option value="">Select Category</option>
      <option value="laptop">Laptop</option>
      <option value="mobile">Mobile</option>
      <option value="electronics">Electronics</option>
    </select>
    <div class="filter-btn-group">
      <button class="filter-btn" (click)="applyFilters()">Apply Filters</button>
      <button class="filter-btn remove" (click)="removeFilters()">Remove Filters</button>
    </div>
  </div>
</div>

<div class="product-container">
  <div *ngFor="let product of filteredProducts" class="product-card">
    <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image" />
    <h3>{{ product.name }}</h3>
    <p>Price: {{ product.price }}/-</p>
    <p>Category: {{ product.category }}</p>
    <p class="description">Description: {{ product.description }}</p>
    <p *ngIf="product.quantity === 0" class="out-of-stock">Out of Stock</p>
    <button 
      (click)="addToCart(product)" 
      class="btn" 
      [disabled]="product.quantity === 0">
      Add to Cart
    </button>
  </div>
</div>

<div *ngIf="alertMessage" 
     class="alert" 
     [ngClass]="{
       'alert-success': alertType === 'success', 
       'alert-error': alertType === 'error',
       'fade-out': fadeOut
     }">
  {{ alertMessage }}
</div>
