<br><br>
<div *ngIf="alertVisible" class="alert" [ngClass]="{'alert-success': alertType === 'success', 'alert-error': alertType === 'error'}">
  {{ alertMessage }}
</div>

<div class="checkout-container">
  <h2>Your Cart</h2>
  <div *ngIf="cartProducts.length > 0; else emptyCart" class="cart-list">
    <div *ngFor="let product of cartProducts" class="cart-item">
      <img [src]="product.imageUrl" class="item-image" alt="{{ product.name }}">
      <div class="item-info">
        <h4>{{ product.name }}</h4>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price.toFixed(2) }}/-</p>
        <p>Quantity: 
          <span class="quantity-controls">
            <button (click)="decreaseQuantity(product)">-</button>
            {{ product.quantity }}
            <button (click)="increaseQuantity(product)">+</button>
          </span>
        </p>
      </div>
      <div class="item-actions">
        <button (click)="removeFromCart(product._id)">Remove</button>
      </div>
    </div>
  </div>

  <ng-template #emptyCart>
    <p class="emptyCart">Your cart is empty.</p>
  </ng-template>

  <div class="checkout-summary">
    <h3>Summary</h3>
    <p>Total Quantity: {{ totalQuantity }}</p>
    <p>Total Amount: {{ totalAmount.toFixed(2) }}/-</p>
    <button (click)="checkout()">Checkout</button>
  </div>
</div>
