<div class="about-container">
    <div class="about-text">
      <h3>About Bhanu Prasad</h3>
      <h1>Associate Engineer At Ascendion»</h1>
      <p>
        I am an Associate Engineer at Ascendion, where I am dedicated to leveraging my technical skills and knowledge to contribute to innovative projects. Hailing from the vibrant city of Vizag, I have always been passionate about technology and how it can be used to solve real-world problems.      </p>
      <p>
        I completed my BTech in Computer Science and Engineering from GITAM University, one of the prestigious institutions in the region. During my time at GITAM, I developed a strong foundation in software development, data structures, algorithms, and web technologies. This academic experience, coupled with hands-on projects, has equipped me with the skills and confidence to tackle complex challenges in the tech industry.At Ascendion, I have the opportunity to work with cutting-edge technologies and collaborate with a talented team of professionals. My role involves not only coding and development but also problem-solving and continuous learning, which I find incredibly fulfilling.

        I am committed to growing my expertise and contributing meaningfully to every project I am involved in, whether it's developing a new feature, optimizing performance, or ensuring the highest standards of quality.      </p>
    </div>
    <div class="about-image">
      <img src="assets/images/me.png" alt="Guy Ravet">
    </div>
  </div>