<div class="about-container">
    <div class="about-text">
      <h3>About Bhanu Prasad</h3>
      <h1>Associate Engineer At Ascendion»</h1>
      <p>
        Dans un cadre champêtre, une maison de rêve vous ouvre ses portes. Passé le seuil, le charme des lieux vous ravira. Devant la cheminée du salon, vous prendrez vos aises en dégustant un apéritif, tout en laissant le plaisir monter à vos lèvres quand vous découvrirez les mille sortilèges de table qui vous sont proposés.
      </p>
      <p>
        Au premier étage, aux côtés des cuisines, la maison est harmonieusement divisée en espaces et salons intimes et confortables. Pour prolonger votre plaisir, chambres et suites vous accueillent dans un parc fleuri aux arbres séculaires.
      </p>
    </div>
    <div class="about-image">
      <img src="assets/images/me.jpg" alt="Guy Ravet">
    </div>
  </div>