<div *ngIf="message" class="alert" [ngClass]="{'fade-out': fadeOut}">
  {{ message }}
</div>

<div class="container">

  <form (ngSubmit)="onSubmit()" #productForm="ngForm">
    <h2>Add Product</h2>
    <div class="form-group">
      <label for="name">Product Name:</label>
      <input
        id="name"
        name="name"
        type="text"
        class="form-control"
        [(ngModel)]="product.name"
        required
      />
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <input
        id="price"
        name="price"
        type="number"
        class="form-control"
        [(ngModel)]="product.price"
        required
      />
    </div>

    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input
        id="quantity"
        name="quantity"
        type="number"
        class="form-control"
        [(ngModel)]="product.quantity"
        required
      />
    </div>
    

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        id="description"
        name="description"
        class="form-control"
        [(ngModel)]="product.description"
        required
      ></textarea>
    </div>

    <div class="form-group">
      <label for="category">Category:</label>
      <select
        id="category"
        name="category"
        class="form-control"
        [(ngModel)]="product.category"
        required
      >
        <option value="">Select a category</option>
        <option value="laptop">Laptop</option>
        <option value="mobile">Mobile</option>
        <option value="electronics">Electronics</option>
      </select>
    </div>

    <div class="form-group">
      <label for="imageUrl">Image URL:</label>
      <input
        id="imageUrl"
        name="imageUrl"
        type="text"
        class="form-control"
        [(ngModel)]="product.imageUrl"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Add Product</button>

    <div *ngIf="message" class="mt-3 alert alert-info">
      {{ message }}
    </div>
  </form>
</div>
