

<footer class="footer">
    <div class="footer-content">
      <div class="logo">
       <h2>ZapZy</h2>
      </div>
      <h2>Stay updated!</h2>
      <p>
        Be the first to hear about new products, events, news, and announcements.
      </p>
      <div class="subscribe-form">
        <input type="email" [(ngModel)]="userEmail" placeholder="Write your email" />
        <button type="submit" (click)="onSubscribe(userEmail)">SUBMIT</button>
      </div>
    </div>
    <div class="footer-bottom">
      <p>
        COPYRIGHT © 2024 - ALL RIGHTS RESERVED | <a href="#">PRIVACY POLICY</a>
      </p>
    </div>
  </footer>