<nav class="navbar">
    <div class="navbar-brand-and-hamburger">
        <div class="hamburger-icon" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        &nbsp; <div class="navbar-brand">ZapZy</div>
    </div>

    <div class="navbar-menu" [ngClass]="{'show': isMenuOpen}">
        <div class="close-icon" (click)="toggleMenu()">&larr;</div>

        <ul class="navbar-nav">
            <!-- Unauthenticated Links (Login and Signup) -->
            <li class="nav-item" *ngIf="!authService.isLoggedIn() && !authService.isAdminLoggedIn()">
                <a routerLink="/login" routerLinkActive="active" (click)="closeMenu()">Login</a>
            </li>
            <li class="nav-item" *ngIf="!authService.isLoggedIn() && !authService.isAdminLoggedIn()">
                <a routerLink="/signup" routerLinkActive="active" (click)="closeMenu()">Signup</a>
            </li>

            <!-- Regular User Links -->
            <li class="nav-item" *ngIf="authService.isLoggedIn() && !authService.isAdminLoggedIn()">
                <a routerLink="/home" routerLinkActive="active" (click)="closeMenu()">Home</a>
            </li>
            <li class="nav-item" *ngIf="authService.isLoggedIn() && !authService.isAdminLoggedIn()">
                <a routerLink="/products" routerLinkActive="active" (click)="closeMenu()">Products</a>
            </li>
            <li class="nav-item" *ngIf="authService.isLoggedIn() && !authService.isAdminLoggedIn()">
                <a routerLink="/aboutus" routerLinkActive="active" (click)="closeMenu()">About Us</a>
            </li>
            <li class="nav-item" *ngIf="authService.isLoggedIn() && !authService.isAdminLoggedIn()">
                <a routerLink="/cart" routerLinkActive="active" (click)="closeMenu()">Cart</a>
            </li>
            <li class="nav-item" *ngIf="authService.isLoggedIn() && !authService.isAdminLoggedIn()">
                <a routerLink="/account" routerLinkActive="active" (click)="closeMenu()">Account</a>
            </li>
            <li class="nav-item" *ngIf="authService.isLoggedIn() && !authService.isAdminLoggedIn()">
                <a (click)="onLogout()" style="cursor: pointer;" (click)="closeMenu()">Logout</a>
            </li>

            <!-- Admin Links -->
            <li class="nav-item" *ngIf="authService.isAdminLoggedIn()">
                <a routerLink="/admin/products" routerLinkActive="active" (click)="closeMenu()">Admin Products</a>
            </li>
            <li class="nav-item" *ngIf="authService.isAdminLoggedIn()">
                <a routerLink="/admin/users" routerLinkActive="active" (click)="closeMenu()">Admin Users</a>
            </li>
            <li class="nav-item" *ngIf="authService.isAdminLoggedIn()">
                <a (click)="adminLogout()" style="cursor: pointer;" (click)="closeMenu()">Admin Logout</a>
            </li>
        </ul>
    </div>
</nav>
