<!-- signup.component.html -->
<div *ngIf="message" class="alert" [ngClass]="{'alert-error': messageType === 'error', 'fade-out': fadeOut}">
  {{ message }}
</div>
<br>

<div class="signup-container">
    
    <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
      <h2>Signup</h2>
      <div class="form-group">
        <label for="username">Name:</label>
        <input type="text" id="username" name="username" [(ngModel)]="user.username" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
      </div>
  
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
      </div>
  
      <button type="submit" [disabled]="!signupForm.valid">Signup</button>
    </form>
  </div>
  